SECRET_KEY='SECRET_KEY'
DEBUG=True

JWT_SECRET_KEY='SUPER_SECRET_KEY_2026_IT_IS_TRUE912584'
JWT_ALGORITHM='HS256'

DB_NAME=org_db
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=org_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password